---
---

@import "minima";

/**
 * Links
 */
.post-content a,
.excerpt-text a {
 color: #333;
 text-decoration-line: underline;
 text-decoration-style: dotted;
  }
.post-content a:visited,
.excerpt-text a:visited {
   color: #333;
 }
.post-content a:hover,
.excerpt-text a:hover {
   color: #000;
   text-decoration-line: underline;
   text-decoration-style: dotted;
 }

a, a.post-link {
  color: #333;
  text-decoration: none;
   }
  a:visited,
  a.post-link:visited  {
    color: #333;
  }
  a:hover,
  a.post-link:hover {
    color: #000;
    text-decoration: underline;
  }

  a.post-link {
    color: #000;
    text-decoration: none;
     }

    a.post-link:visited  {
      color: #000;
    }

    a.post-link:hover {
      color: #000;
      text-decoration: underline;
    }

  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

.post-list-heading {
  display:none
}

// a.post-link {
//   color: #000000;
//   text-decoration: none;
// }


.site-header .wrapper{
  width:100%;
  height:150px;
  top:0;
  left:0;
  text-align: left;
  //z-index:100;
  //border:solid;
}

// .brand-image {
//   max-width:270px;
//   display: block;
// }

.brand-image {
  float: left;
  width: 270px;
  height: 58px;
  display: block;
}

// nav code inspired from:
// https://css-tricks.com/solved-with-css-dropdown-menus/

// .site-nav{
//   display:block;
//   float:right;
//   position:absolute;
//   margin-top:50px;
// }

.site-header .site-nav{
    float: right;
    padding: 20px;
    position: relative;
    text-align:right;
}

nav li {
 display: block;
 transition-duration: 0.5s;
 //border: 2px white solid;
}

nav li:hover {
  cursor: pointer;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  background: #ccc;
  z-index: 100;
  padding: 0 20px 0 0;
}

nav ul li ul li {
  clear: both;
  width: 100%;
  border: 2px white solid;
}

nav ul {
  //background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  color: #fff;
  //background: darkorange;
  display: block;
  float: left;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav li a {
  color: #000;
}

nav li:hover {
  //background: red;
  cursor: pointer;
}

nav ul li ul {
  background: #CCC;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

.post-list img {
  width: 45%;
  float: left;
  padding: 0 3% 1% 0;
}

.directory img {
  width: 20%;
}

.directory-post img {
  float:left;
  padding: 0 3% 1% 0;
  width: 40%;
}

.directory li {
  clear:both;
}

.post-list h3 {
  margin-top: 0;
  padding-top: 0
}

#posters img {
  float:left;
  padding: 0 3% 1% 0;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

// code from:
// https://stackoverflow.com/questions/15844500/shrink-a-youtube-video-to-responsive-width
// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php

.videoWrapper {
  float: none;
  clear: both;
  width: 100%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// citations and highlights

.space-square-box{
  padding:2%; margin-bottom:2%;
}

.orange-square-box{
  background:orange;
}

.light-purple-square-box{
  background:rgb(222,200,225);
}

.light-purple-square-box h3 {
  color: #333
}

hr {
  margin: 5% 0;
}
