---
---

@import "minima";

/**
 * Links
 */
a {
  color: #666;
  text-decoration: none;
   }
  a:visited {
    color: #000; }
  a:hover {
    color: #000;
    text-decoration: underline;
  }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

.post-list-heading {
  display:none
}

.brand-image {
  max-width:270px
}

a.post-link {
  color: #000000;
  text-decoration: none; }
