---
layout: default
---
<div class="home">
  <!-- Old code, useful to see the variables of this page
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }} 
  -->

<!-- To change the number of items: change limit number e.g. limit: 10 shows 10 results. -->  

{% assign posts = site.posts   %}	 
{% assign interviews = site.interviews   %}
{% assign workshops = site.workshops   %}
{% assign seminars = site.seminars   %}
{% assign featured = posts | concat: interviews | concat: workshops |concat: seminars | sort: 'date' | reverse  %}	 
{% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}

{% for item in featured | limit: 10  %}
  <ul class="post-list">
  {% capture date %}{{item.date | date: '%s' | plus: 0 %}}{% endcapture %}
  {% if date < now %}
    <li>
      <img src="{{ item.image | prepend: site.baseurl }}" alt="{{ item.title }}" title="{{ item.title }}">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ item.date | date: date_format }}</span>
      <span class="post-meta">• <a href="{{ item.url }}#disqus_thread" data-disqus-identifier="{{item.id}}">"{{ item.url | relative_url }}"</a> • {{item.collection}}</span>
      <h3>
        <a class="post-link" href="{{ item.url | relative_url }}">
          {{ item.title | escape }}
        </a>
      </h3>
      {% if item.collection contains 'interviews' %}
      <h4><em>Interview by {{ item.author }}</em></h4>
      {% endif %}
      {% if item.categories contains 'announcement' %}
      <h4><em>Announcement by {{ item.author }}</em></h4>
      {% endif %}
      {% if item.categories contains 'post' %}
      <h4><em>Article by {{ item.author }}</em></h4>
      {% endif %}
      <p class="excerpt-text">
      {%- if site.show_excerpts -%}
        {{ item.excerpt }}
      {%- endif -%}
      <strong><a href="{{ item.url | relative_url }}">
        »Read more
      </a></strong>
    </p>
    </li>
    {% endif %}
{% endfor %}
</ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
