---
layout: default
---
<div class="home">
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }} -->

  <!-- INTERVIEWS -->
  {%- if site.interviews.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.interviews limit:1 offset:3 -%}
    <li>
      <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <span class="post-meta">• <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{post.id}}">"{{ post.url | relative_url }}"</a></span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <h4><em>Interview by {{ post.author }}</em></h4>
      <p class="excerpt-text">
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
      <strong><a href="{{ post.url | relative_url }}">
        »Read more
      </a></strong>
    </p>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
  

  <!-- SEMINARS -->
      <ul class="post-list">
        {% for post in site.seminars %}
        {% if post.categories contains 'forthcoming' limit:2 %}
        <li>
        <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <h4><em>Seminar</em></h4>
          <p class="excerpt-text">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
          <strong><a href="{{ post.url | relative_url }}">
            »Read more
          </a></strong>
        </p>
        </li>
        {% endif %}
        {% endfor %}
      </ul>




    <!-- BLOG -->

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:1 -%}
      <li>
        <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <span class="post-meta">• <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{post.id}}">"{{ post.url | relative_url }}"</a></span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if post.categories contains 'announcement' %}
        <h4><em>Announcement by {{ post.author }}</em></h4>
        {% endif %}
        {% if post.categories contains 'post' %}
        <h4><em>Article by {{ post.author }}</em></h4>
        {% endif %}
        <p class="excerpt-text">
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </p>
      </li>
      {%- endfor -%}
    </ul>
    {% endif %}



  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
